<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Project Mahdi</a>
    <div class=" collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/create" routerLinkActive="active"> Add Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list-student" routerLinkActive="active">View Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/get-api" routerLinkActive="active">IP Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user" routerLinkActive="active">Random Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
